/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Barlow/barlow-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/Barlow/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Barlow/barlow-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/Barlow/barlow-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Barlow/barlow-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/Barlow/barlow-v12-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: url('../../assets/fonts/Barlow/barlow-v12-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/Barlow/barlow-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Barlow/barlow-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/Barlow/barlow-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Barlow/barlow-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/Barlow/barlow-v12-latin-700italic.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/Barlow-Condensed/barlow-condensed-v12-latin-700.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}

/* bellefair-regular - latin */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Bellfaire/bellefair-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/Bellfaire/bellefair-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Bellfaire/bellefair-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/Bellfaire/bellefair-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Bellfaire/bellefair-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/Bellfaire/bellefair-v14-latin-regular.svg#Bellefair') format('svg'); /* Legacy iOS */
}