.Navbar {
  cursor: pointer;
  //   z-index: 1000;
  &__trigger {
    &--logo {
      position: absolute;
      top: 1.25em;
      right: 1.25em;
      height: 3.75em;
      width: 3.75em;
      border-radius: 50%;
      overflow: hidden;
      transition: all 500ms ease;
      &:hover,
      &:focus {
        box-shadow: 0 0 1em 0.0625em hsl(var(--clr-accent)), 0 0 2em 0.5em hsl(var(--clr-light));
      }
    }
  }

  &__menu {
    position: absolute;
    top: 6.25em;
    right: 1.25em;
    background-color: hsl(var(--clr-dark) / 1);
    border-radius: 1.25em;
    padding: 3em 2em;
    border: 0.0625em solid hsl(var(--clr-accent) / 0.3);

    &::before {
      content: '';
      position: absolute;
      top: -0.62em;
      right: 1.25em;
      height: 1.25em;
      width: 1.25em;
      background: hsl(var(--clr-dark) / 1);
      border-top: 1px solid hsl(var(--clr-accent) / 0.3);
      border-left: 1px solid hsl(var(--clr-accent) / 0.3);
      transform: rotate(45deg);
    }
  }

  &__header {
    width: 100%;
    text-align: center;
    padding-bottom: 0.55em;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0.125em;

    &--subtitle {
      font-size: 0.875em;
      text-align: center;
      padding-bottom: 1em;
    }
  }

  .Navbar__menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  }
  .Navbar__menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.25em);
    transition: 500ms ease;
  }
}
